/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #main {
    background-color: #000000;
  }
  #viewer .slide .caption {
    position: absolute;
    bottom: 0; 
    height: 30%;
    left: 0;
    width: 100%;
    font-size: smaller;
  }
  #viewer .slide .caption p {
    display: none;;
  }
  .captionGroup h2 {
    background-color: #ffff00;
    color: #000000;
  }
  #viewer .slide .caption.grafico h2 {
    color: #000000;
  }
  #viewer .slide .caption.espacios h2 {
    background-color: #ffff00;
    color: #000000;
  }

  dl {
    font-size: 11px;
    display: inline-block;
  }
  dt.etiquetaCurso,
  dt.etiquetaProfesores,
  dt.etiquetaAlumnos {
    display: block;
    margin: 0 5px 0 0;
  }

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
   #main {
    background-color: #000000;
  }
  #viewer .slide .caption {
    position: absolute;
    bottom: 0; 
    height: 30%;
    left: 0;
    width: 100%;
    font-size: smaller;
  }
  #viewer .slide .caption p {
    display: none;;
  }
  .captionGroup h2 {
    background-color: #ffff00;
    color: #000000;
  }
  #viewer .slide .caption.grafico h2 {
    color: #000000;
  }
  #viewer .slide .caption.espacios h2 {
    background-color: #ffff00;
    color: #000000;
  }

  dl {
    font-size: 11px;
    display: inline-block;
  }
  dt.etiquetaCurso,
  dt.etiquetaProfesores,
  dt.etiquetaAlumnos {
    display: block;
    margin: 0 5px 0 0;
  }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
#main {
    background-color: #000000;
  }
  #viewer .slide .caption {
    position: absolute;
    bottom: 0; 
    height: 25%;
    left: 0;
    width: 100%;
  }
  #viewer .slide .caption p {
    display: none;;
  }
  .captionGroup h2 {
    background-color: #ffff00;
    color: #000000;
  }
  #viewer .slide .caption.grafico h2 {
    color: #000000;
  }
  #viewer .slide .caption.espacios h2 {
    background-color: #ffff00;
    color: #000000;
  }

  dl {
    display: inline-block;
  }
  dt.etiquetaCurso,
  dt.etiquetaProfesores,
  dt.etiquetaAlumnos {
    display: block;
    margin: 0 5px 0 0;
  }
  #viewer .inner .toggle {
    background-position: -0.25em -0.25em;
  }
}
